<section class="hero is-light is-large">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-6">
                <div class="has-text-centered">
                    <h1 class="title">
                        Welcome to Hobby Square
                    </h1>
                    <h2 class="subtitle">
                        Create your account to manage your hobbies
                    </h2>
                    <img src="http://res.cloudinary.com/yohanifejohn/image/upload/v1521713925/favorite_f97pya.png" width=200>
                </div>
            </div>
            <div class="column is-6">
                <h2 class="subtitle">Register</h2>
                <form (ngSubmit)="onSubmit()">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" [(ngModel)]="formData.fullname" name="Fullname" placeholder="Full name" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="email" [(ngModel)]="formData.email" name="Email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="phone" [(ngModel)]="formData.phone_number" name="PhoneNumber" placeholder="Phone number with coutry code e.g +23409086 or 234089887" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="password" [(ngModel)]="formData.password" name="Password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button [class]="is_loading ? 'button is-danger is-loading' : 'button is-danger'" type="submit">Register</button>
                        </div>
                    </div>

                </form>
                <p>Already have have an account ? <a class="has-text-danger" routerLink="/login">Log in</a></p>
            </div>
        </div>
    </div>
</section>